.tableResponsive {
  overflow-x: auto;
}

.MuiTableCell-root {
  padding: 12px 16px;
}

.header {
  padding: 5px !important;
  background-color: var(--primary-main) !important;
}

.cell {
  padding: 10px !important;
}

.titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;

}

.table {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
}

.column {
  font-weight: 600;
  color: var(--white-main);
  text-wrap-mode: nowrap;
}

.sort {
  color: var(--sortIcon-main);
}

.row:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}