.headerWrapper {
  width: 100%;
  height: 64px;
  background: #ffffff;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
}

.iconButton {
  padding: 8px;
}

.icon {
  font-size: 26px;
}

.iconMobile {
  font-size: 22px;
}

/* Square Profile Box */
.profileBox {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  border-radius: 10px !important;
  background: #0a2b50;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Profile image */
.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Fallback icon */
.profileFallbackIcon {
  font-size: 32px;
}
