.common {
  text-transform: capitalize !important;
}

/* ----- Small ----- */
.buttonSmall {
  font-size: 0.7rem !important;
  padding: 6px 10px !important;
  border-radius: 6px !important;
  height: 30px !important;
}

/* ----- Medium ----- */
.buttonMedium {
  font-size: 0.9rem !important;
  padding: 10px 14px !important;
  border-radius: 8px !important;
  height: 35px !important;
}

/* ----- Large ----- */
.buttonLarge {
  font-size: 1.1rem !important;
  padding: 12px 18px !important;
  border-radius: 10px !important;
  height: 40px !important;
}

@media (max-width: 599px) { // xs
  .buttonSmall {
    font-size: 0.6rem !important;
    padding: 4px 6px !important;
  }

  .buttonMedium {
    font-size: 0.7rem !important;
    padding: 6px 10px !important;
  }

  .buttonLarge {
    font-size: 0.9rem !important;
    padding: 8px 10px !important;
  }
}

@media (min-width: 600px) and (max-width: 768px) { // sm - md
  .buttonSmall {
    padding: 5px 8px !important;
  }

  .buttonMedium {
    font-size: 0.8rem !important;
    padding: 8px 12px !important;
  }

   .buttonLarge {
    font-size: 1rem !important;
    padding: 10px 12px !important;
  }
}